<div>
<h2>Stupid Coaching</h2>

<h4>Hello there</h4>

<div class="me">
<%= @question %>
<p class="font-italic">- You</p>
</div>

<div class= "coach">
<%= @answer %>
<p class="font-italic">- The Coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
</div>
